Source: atlasmns-trace
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@simula.no>
Homepage: https://www.nntb.no/
Build-Depends: cmake (>= 3.0.2) | cmake3,
               debhelper (>= 9),
               libboost-date-time-dev (>= 1.48.0) | libboost-date-time1.48-dev,
               libboost-filesystem-dev (>= 1.48.0) | libboost-filesystem1.48-dev,
               libboost-iostreams-dev (>= 1.48.0) | libboost-iostreams1.48-dev,
               libboost-log-dev (>= 1.48.0) | libboost-log1.48-dev,
               libboost-system-dev (>= 1.48.0) | libboost-system1.48-dev,
               libboost-thread-dev (>= 1.48.0) | libboost-thread1.48-dev,
               libhipercontracer-dev (>= 1.4.0),
               pkg-config,
               python3-all
Standards-Version: 4.3.0
Vcs-Git: https://github.com/simula/atlasmns-trace.git
Vcs-Browser: https://github.com/simula/atlasmns-trace

Package: atlasmns-trace-scheduler
Architecture: all
Depends: nornet-management,
         python3-psycopg2,
         python3-pymongo,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Atlas/MNS Trace Scheduler
 Atlas/MNS Trace Importer is the scheduler for the Atlas/MNS Trace experiments.
 .
 See https://www.nntb.no for details on NorNet!

Package: atlasmns-trace-agent
Architecture: all
Depends: hipercontracer (>= 1.4.0),
         nornet-trace-trigger,
         python3-psycopg2,
         python3-pymongo,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Atlas/MNS Trace Agent
 Atlas/MNS Trace Importer is the agent for the Atlas/MNS Trace experiments.
 .
 See https://www.nntb.no for details on NorNet!
