Source: atlasmns-trace
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@simula.no>
Homepage: https://www.nntb.no/
Build-Depends: cmake (>= 3.0.2) | cmake3,
               debhelper (>= 9),
               libhipercontracer-dev (>= 1.4.0~),
               python3-all
Standards-Version: 4.3.0
Vcs-Git: https://github.com/simula/atlasmns-trace.git
Vcs-Browser: https://github.com/simula/atlasmns-trace

Package: atlasmns-trace-scheduler
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         nornet-management
Description: Atlas/MNS Trace Scheduler
 Atlas/MNS Trace Importer is the scheduler for the Atlas/MNS Trace experiments.
 .
 See https://www.nntb.no for details on NorNet!

Package: atlasmns-trace-agent
Architecture: all
Depends: hipercontracer (>= 1.4.0~),
         nornet-trace-trigger,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Atlas/MNS Trace Agent
 Atlas/MNS Trace Importer is the agent for the Atlas/MNS Trace experiments.
 .
 See https://www.nntb.no for details on NorNet!
