Source: atlasmns-trace
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <thomas.dreibholz@gmail.com>
Homepage: https://www.nntb.no/
Build-Depends: cmake,
               debhelper (>= 12),
               dh-python,
               libboost-date-time-dev (>= 1.58.0) | libboost-date-time1.58-dev,
               libboost-filesystem-dev (>= 1.58.0) | libboost-filesystem1.58-dev,
               libboost-iostreams-dev (>= 1.58.0) | libboost-iostreams1.58-dev,
               libboost-log-dev (>= 1.58.0) | libboost-log1.58-dev,
               libboost-program-options-dev (>= 1.58.0) | libboost-program-options1.58-dev,
               libboost-system-dev (>= 1.58.0) | libboost-system1.58-dev,
               libboost-thread-dev (>= 1.58.0) | libboost-thread1.58-dev,
               libhipercontracer-dev (>= 1.4.6),
               libpqxx-dev,
               pkg-config,
               python3-all,
               python3-colorlog,
               python3-psycopg2,
               python3-pymongo
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: atlasmns-trace-common
Architecture: all
Depends: nornet-management,
         python3-colorlog,
         python3-psycopg2,
         python3-pymongo,
         ripe.atlas.cousteau,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: Atlas/MNS Trace common functions
 This package contains common functions for the
 Atlas/MNS Trace programs.
 .
 See https://www.nntb.no for details on NorNet!

Package: atlasmns-trace-controller
Architecture: all
Depends: atlasmns-trace-common (= ${binary:Version}),
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: Atlas/MNS Trace Controller
 Atlas/MNS Trace Controller is the controller for the
 Atlas/MNS Trace experiments.
 .
 See https://www.nntb.no for details on NorNet!

Package: atlasmns-trace-scheduler
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: atlasmns-trace-common (= ${binary:Version}),
         lsb-base,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: Atlas/MNS Trace Scheduler
 Atlas/MNS Trace Scheduler is the scheduler for the
 Atlas/MNS Trace experiments.
 .
 See https://www.nntb.no for details on NorNet!

Package: atlasmns-trace-agent
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: hipercontracer (>= 1.4.6),
         lsb-base,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Atlas/MNS Trace Agent
 Atlas/MNS Trace Agent is the agent for the
 Atlas/MNS Trace experiments.
 .
 See https://www.nntb.no for details on NorNet!
